[Unit]
Description=Simple HTTP Server

After=network-online.target
Wants=network-online.target

[Service]
Type=exec
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/simple-http

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target